.Password {
    display: flex;
    height: 100%;
    flex-direction: column;
    place-items: center;
    justify-content: space-around;
    background-image: url("../../front/password.jpg");
    background-size: cover;
    width: 100%;
    border: 5px ;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #555;
    font-size: 20px;
    text-align: center;
    color: white;
}

.ButtonSet {
    background-image: url("../../front/edit.png");
    background-size: contain;
    width: 7%;
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 5px;
    background-color: white;
    color: black;
    box-shadow: 1px 1px 6px #555;
    cursor: pointer;
}

.ButtonNew {
    width: 50%;
    border-radius: 5px;
    background-color: white;
    color: black;
    box-shadow: 1px 1px 6px #555;
    cursor: pointer;
}

.Content {
    width: 100%;
    height: 100%;
}

.EditPassword {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    place-items: center;
}

.EditPasswordButton {
    border-radius: 5px;
    background-color: white;
    color: black;
    width: 50%;
    margin-bottom: 5%;
}

.Length {
    display: flex;
    flex-direction: row;
    place-items: center;
    justify-content: space-around;
    margin-top: -10%;
}

.Complexity {
    margin-top: -4%;
}

.SelectPassword {   
    background-color: white;
    border-radius: 5px;
    color: black;
}

.Text {
    height: 70%;
    display: flex;
    flex-direction: column;
    place-items: center;
}